/**************************TAG SELECTORS**********************************/



body {
  text-align: center;
  margin: 0;
}

h1 {
  margin-top: 0;
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 3.125rem;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 1.25rem;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  color: #11999e
}



p, li {
  font-family: 'Maven Pro', sans-serif;
  line-height: 2;
}

hr {
  border-top: 0.1875rem dotted grey;
  width: 4%;
  margin: 6.25rem auto 6.25rem auto;
}

a {
  color: #66bfbf;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0 20px 0 0;
}

a:hover {
  color: #eaf6f6
}

/*div {
  background-color: #e4f9f5;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin: 100px;
}*/


/**************************CLASS SELECTORS**********************************/

.navbar {
  padding: 3rem;
}

.nav-item {
  padding: 0 1rem;
}

.tab {
  display:inline-block;
  margin-left: 40px;
}



.ml8 {
  padding: 2rem;
  font-weight: 900;
  font-size: 4.5em;
  color: black;
  /* width: 3em;
  height: 3em; */
}

.ml8 .letters-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 1em;
}

.ml8 .letters {
  position: relative;
  z-index: 2;
  display: inline-block;
  line-height: 0.7em;
  right: -0.12em;
  top: -0.2em;
}

.ml8 .bang {
  font-size: 1.4em;
  top: auto;
  left: -0.06em;
}

/* .ml8 .circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.ml8 .circle-white {
  width: 3em;
  height: 3em;
  border: 2px dashed white;
  border-radius: 2em;
}

.ml8 .circle-dark {
  width: 2.2em;
  height: 2.2em;
  background-color: #4f7b86;
  border-radius: 3em;
  z-index: 1;
}

.ml8 .circle-dark-dashed {
  border-radius: 2.4em;
  background-color: transparent;
  border: 2px dashed #4f7b86;
  width: 2.3em;
  height: 2.3em;
} */




.p1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  color: #66bfbf;
  font-weight: normal;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 9.375rem;
  position: relative;
}

.cloud_top {
  position: relative;
  height: 6.25rem;
  left: 12.5rem;
  bottom: 3.125rem;
}

.pro {
  text-decoration: underline;
}

.cloud_bottom {
  position: relative;
  height: 4.375rem;
  right: 12.5rem;
}

.man {
  margin: auto;
  display: block;
  position: relative;
  height: 4.375rem;
  top: 12.5rem;
}

.house {
  background-color: #e4f9f5;
  position: relative;
  display: inline-block;
  height: 12.5rem;
  left: 18.75rem;
}

.middle-container {
  margin: 6.25rem auto;
  /* padding: 6.25rem 10rem; */
}

.me_pic {
  height: 25.5rem;
  border-radius: 10%
}



.skills {
  padding: 3rem;
}

.skill-row {
  text-align: left;
  margin: 4rem auto;
}

.skill_1 {
  height: 15rem;
  width: 15rem;
  float:left;
}

.skill_2 {
  height: 15rem;
  width: 15rem;
  float:right;
}

.skill_3 {
  height: 15rem;
  width: 15rem;
  float:left;

}

.col-space {
  padding: 1rem;
  text-align: left;
}

.cert:hover {
  color: black;
}

.col-portfolio {
  padding: 3rem;
}

.carousel {
  width: auto;
  margin: auto;
  background-color: #66bfbf;
}

.carousel-caption {
  color: black;
}

.bottom-container {
  margin-top: 10rem;
  padding: 4.25rem 0 4rem 0;
  background-color: #66bfbf;
}

.btn {
  background: #3498db;
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  border-radius: 28px;
  font-family: 'Roboto Mono', monospace;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 30px;
}

.card {
  padding-top: 3rem;
}

#proficiency {
  margin: 3rem auto;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  text-decoration: none;
}

.footer-link {
  color: #11999e;
  text-decoration: none;
}

.trademark {
  color: #eaf6f6;
  padding-top: 30px;
}

/**************************ID SELECTORS**********************************/

/************************** Media breakpoints **************************/

@media (min-width: 900px) {

  body {
    font-size: 1.3rem;
  }

  #navbarId {
    margin: 3rem auto;
  }

  .navbar-brand {
    font-size: 3rem;
  }

  .nav-link {
    font-size: 3rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }



  hr {
    width: 50%;
  }

  .cert {
    font-size: 2.5rem;
  }

  #portfolio-link {
    font-size: 2.5rem;

  }

  .col-slide {
    margin: auto;
    height: 30rem;
    width: 30rem;
  }

  /* #links {
    font-size: 2rem;
  } */

}
